<html>
<head>
  <meta charset='utf-8'></meta>
  <title>Test Page for Plaid</title>
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static '/finance/base.css' %}"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
  <header>
    <span class="header__title">Test Page for Plaid<span>
  </header>
  <section class="account"></section>
  <section class="information">
    {% for key, value in accounts.items %}
        <p>{{key}}</p>
        <p>{{value}}</p>
    {% endfor %}
  </section>

  {% csrf_token %}
  <button id="link-button">Link Account</button>
  <button id="go-to-item-display">Go To Item Display</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script type="text/javascript">
  (function($) {
    var handler = Plaid.create({
      clientName: 'Plaid Quickstart',
      // Optional, specify an array of ISO-3166-1 alpha-2 country
      // codes to initialize Link; European countries will have GDPR
      // consent panel
      countryCodes: ['US'],
      env: 'sandbox',
      key: '477f7b16c8ad370e5e5e5e2b8ebbca',
      product: ['transactions'],
      // Optional, use webhooks to get transaction and error updates
      webhook: 'https://requestb.in',
      // Optional, specify a language to localize Link
      language: 'en',
      // Optional, specify userLegalName and userEmailAddress to
      // enable all Auth features
      userLegalName: 'John Appleseed',
      userEmailAddress: 'jappleseed@yourapp.com',
      onLoad: function() {
        // Optional, called when Link loads
      },
      onSuccess: function(public_token, metadata) {
        // Send the public_token to your app server.
        // The metadata object contains info about the institution the
        // user selected and the account ID or IDs, if the
        // Select Account view is enabled.
  
        // In this section, I'm going to try saving the public_token as a sessionStorage object such that
        // hopefully whatever issue is present in my master version of this will be dealt with.

        let session = window.sessionStorage;
        
        session.setItem("public_token", public_token);
      },
      onExit: function(err, metadata) {
        // The user exited the Link flow.
        if (err != null) {
          // The user encountered a Plaid API error prior to exiting.
        }
        // metadata contains information about the institution
        // that the user selected and the most recent API request IDs.
        // Storing this information can be helpful for support.
        $('#link-button').hide();
        let redirectButton = $('<button/>',
        {
          text: 'Redirect',
          click: function() { jquery.get('/item-display/'); }
        })
        let informationSection = $('.information').append(redirectButton).end();
        
      },
      onEvent: function(eventName, metadata) {
        // Optionally capture Link flow events, streamed through
        // this callback as your users connect an Item to Plaid.
        // For example:
        // eventName = "TRANSITION_VIEW"
        // metadata  = {
        //   link_session_id: "123-abc",
        //   mfa_type:        "questions",
        //   timestamp:       "2017-09-14T14:42:19.350Z",
        //   view_name:       "MFA",
        // }
      }
    });

    $('#link-button').on('click', function(e) {
      handler.open();
    });

    $('#go-to-item-display').on('click', function(e) {
      let csrf_token = jQuery("[name=csrfmiddlewaretoken]").val();
      let public_token = window.sessionStorage.getItem('public_token');

      $.ajax({
          type: "POST",
          url: '/item-display/',
          data: {'public_token': public_token},
          headers: {'X-CSRFToken': csrf_token} 
        });
    });

  })(jQuery);
  </script>


</body>
</html>