body {
  color: white;
  background: #2d2d2d;
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
}
.main {
  margin: 1.5em;
  width: 100%;
}
.content {
  display: flex;
  height: 80vh;
  justify-content: space-between;
  margin-top: 1em;
  width: 100%;
}
.plaid-link-button {
  background: gray;
  border: none;
  border-radius: 0.2em;
  color: white;
  margin: 1em;
  text-decoration: none;
  padding: 1em;
  width: 50%;
}

/* ___ Header Section ___ */

header {
  align-items: center;
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  padding: 1em;
}
header span.header__title {
  font-size: 3em;
}

/* ___ Account Section ___ */

section.account { 
  align-items: center;
  background: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33%;
}

/* ___ Informtion Section ___ */

section.information {
  background: #1e1e1e;
  color: white;
  height: 100%;
  width: 63%;
}

/* ___ Link Status ___ */

#account__link-status {
  border: none;
  border-radius: 0.2em;
  color: white;
  margin: 1em;
  text-decoration: none;
  padding: 1em;
  width: 50%;
}

.account__link-status-inactive {
  background: red;
}

.account__link-status-active {
  background: green;
}